@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<BankBranch>

<h2>List of Bank Branches</h2>

<table class="table">
    <thead>
        <tr>
            <th>Location Name</th>
            <th>Location URL</th>
            <th>Branch Manager</th>
            <th>Employee Count</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var branch in Model)
        {
            <tr>
                <td><a href= "@Url.Action("Details","Bank", new { id = branch.Id})">@branch.LocationName</a></td>
                <td><a href="@branch.LocationURL">🌐</a></td>
                <td>@branch.BranchManager</td>
                <td>@branch.EmployeeCount</td>
                <td><a href="@Url.Action("Edit","Bank", new { id = branch.Id})">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

